code {
    font-family: Inconsolata,"Source Code Pro",Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 100%;
    padding: 1px 2px;
    color: #49759c;
    background-color: #ffffff00;
}

.admonition code, .admonition a {
    color: white !important;
    font-weight: bold;
}

/* invert LaTeX renders inside admonitions */
.admonition img.math {
    filter: invert(100%);
}

code.descclassname {
    padding-right: 0 !important;
}

code.descname {
    padding-left: 0 !important;
}

pre {
    color: #555555;
}

a.reference {
    color: #4c72b0;
}
a.reference:visited {
    color: #3e337c;
}

.admonition-todo {
    background-color: #f47c3c;
    border-color: transparent;
    color: #ffffff;
}
